<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/assets/css/style.css" type="text/css" />
  <title>Scraping With Mongoose</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>

  <title>Scraping With Mongoose</title>

</head>

<body>

{{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- this works when it is index.html file -->
  <script src="scripts/scrape.js"></script>
</body>

</html>